log/
build/
target/
*venv/
dist/
cert/*
*nbproject/
/lcache*

*.o
*.a
*.so

*.sublime-project
*.sublime-workspace

*.txt
*.log
*.json
*.ini
*.config
*.creator
*.files
*.includes
config/*.conf

*.deb
*.substvars
*debhelper-build-stamp

*pro.user*
*.pro
*.user
*.autosave
*.cproject
*.project

*.pyc
*~
*.bak
